<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
          <!-- Left-Aligned Icons -->
          <div>
            <a href="https://scholar.google.com/citations?user=XfqeDCIAAAAJ&hl=en" style="text-decoration: none;">
              <img src="/assets/img/google_scholar.svg" alt="Google Scholar" width="30" height="30"/>
            </a>
            <a href="https://bsky.app/profile/karnagowda.bsky.social" style="text-decoration: none;">
              <img src="/assets/img/bluesky.svg" alt="Bluesky" width="30" height="30"/>
            </a>
            <a href="https://x.com/KarnaVGowda" style="text-decoration: none;">
              <img src="/assets/img/x.svg" alt="X" width="30" height="30"/>
            </a>
          </div>

          <!-- Right-Aligned Text -->
          <div style="text-align: right;">
            (c) Karna Gowda 2025.
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
