<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <!-- Left-aligned icons in footer-col-1 -->
      <div class="footer-col footer-col-1">
        <a href="https://scholar.google.com/citations?user=XfqeDCIAAAAJ&hl=en" style="text-decoration: none;">
          <img src="/assets/icons/google_scholar.svg" alt="Google Scholar" width="30" height="30"/>
        </a>
        <a href="https://orcid.org/my-orcid?orcid=0000-0001-6812-4745" style="text-decoration: none;">
          <img src="/assets/icons/orcid.svg" alt="ORCID" width="30" height="30"/>
        </a>
        <a href="https://bsky.app/profile/karnagowda.bsky.social" style="text-decoration: none;">
          <img src="/assets/icons/bluesky.svg" alt="Bluesky" width="30" height="30"/>
        </a>
        <a href="https://x.com/KarnaVGowda" style="text-decoration: none;">
          <img src="/assets/icons/x.svg" alt="X" width="30" height="30"/>
        </a>
      </div>

      <!-- Empty middle column in footer-col-2 -->
      <div class="footer-col footer-col-2">
        <!-- Optionally add content here if needed -->
      </div>

      <!-- Right-aligned copyright text in footer-col-3 -->
      <div class="footer-col footer-col-3" style="text-align: right;">
        &copy; Karna Gowda 2025.
      </div>
    </div>
  </div>
</footer>
