<body id="top">
  <header class="site-header" style="position: fixed; top: 0; width: 100%; background-color: white; z-index: 1000;">
    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <a class="site-title" rel="author" href="{{ "#top" | relative_url }}">{{ site.title | escape }}</a>
      <nav class="site-nav">
        <a href="#news">news</a> | 
        <a href="#research">research</a> | 
        <a href="#people">people</a> | 
        <a href="#pubs">publications</a>
      </nav>
    </div>
  </header>
  
  <style>
    html {
      scroll-padding-top: 80px; /* Adjust this value to match the height of your header */
      scroll-behavior: smooth; /* Add smooth scrolling CSS */
    }
  </style>
</body>
