<body id="top">
  <header class="site-header" style="position: fixed; top: 0; width: 100%; background-color: white; z-index: 1000;">
    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <em><a class="site-title" rel="author" href="{{ "#top" | relative_url }}">{{ site.title | escape }}</a></em>
      <img src="/assets/icons/gowdalab_logo.svg" alt="" height="40"/>
      <nav class="site-nav">
        <a href="#news"><em>NEWS</em></a> | 
        <a href="#people"><em>PEOPLE</em></a> | 
        <a href="#research"><em>RESEARCH</em></a> | 
        <a href="#pubs"><em>PUBLICATIONS</em></a>
      </nav>
    </div>
  </header>
  
  <style>
    html {
      scroll-padding-top: 80px; /* Adjust this value to match the height of your header */
      scroll-behavior: smooth; /* Add smooth scrolling CSS */
    }
  </style>
</body>
