<ul class="social-media-list">
  <!-- Google Scholar -->
  <li><a href="https://scholar.google.com/citations?user=XfqeDCIAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">
    <svg class="svg-icon"><use xlink:href="{{ 'assets/minima-social-icons.svg#google-scholar' | relative_url }}"></use></svg>
    Google Scholar</a></li>

  <!-- BlueSky -->
  <li><a href="https://bsky.app/profile/karnagowda.bsky.social" target="_blank" rel="noopener noreferrer">
    <svg class="svg-icon"><use xlink:href="{{ 'assets/minima-social-icons.svg#bluesky' | relative_url }}"></use></svg>
    BlueSky</a></li>

  <!-- X (formerly Twitter) -->
  <li><a href="https://x.com/KarnaVGowda" target="_blank" rel="noopener noreferrer">
    <svg class="svg-icon"><use xlink:href="{{ 'assets/minima-social-icons.svg#x' | relative_url }}"></use></svg>
    X (Twitter)</a></li>
</ul>
